* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* section */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section h1 {
  font-size: 48px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
/* sidebar */
.sidebar > .card {
  width: 7vw;
  height: 7vw;
  margin: 5px 0;
}
.sidebar > .card img {
  width: inherit;
  height: inherit;
}
/* board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 40px;
}
.board > .card {
  float: left;
  width: 12vw;
  height: 12vw;
  margin: 2px;
}
.board > .card img {
  width: inherit;
  height: inherit;
}
